name: CI
on:
  pull_request:
    branches: [ main ]   # 监听针对 main 分支的 PR
jobs:
  container-test-job:
    runs-on: arc-runner-set20
    container:
      image: node:18
      env:
        NODE_ENV: development
      ports:
        - 80
      volumes:
        - my_docker_volume:/volume_mount
      options: --cpus 1
    steps:
      - name: Check for dockerenv file
        run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
